@use '/src/app/styles/scss/break_point.scss' as *;
.menu {
	position: absolute;
	width: 100%;
	padding: 2rem;
	border: 1px solid var(--color-border-secondary);
	background-color: var(--color-bg-secondary);
	left: 0;
	top: -3px;
	z-index: 5;
	margin-top: 0.3rem;
	border-radius: 0.5rem;
	transition: opacity 0.3s ease;
	box-shadow: $shadow-panel;
	&.show {
		opacity: 1;
		display: block;
	}
	&.hidden {
		opacity: 0;
		display: none;
	}
	.body {
		width: inherit;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	.actions {
		display: flex;
		gap: 1rem;
		align-items: center;
	}
}
