@use '/src/app/styles/scss/break_point.scss' as *;

.icon {
	position: relative;
	width: 100%;
	height: 100%;

	.vertical,
	.horizontal {
		width: 100%;
		height: 2px;
		background-color: var(--color-text);
		transition: all 0.3s ease-in;
		opacity: 1;
	}
	.vertical {
		position: absolute;
		top: 50%;
		left: 0;
		transform: rotate(90deg);
	}
	.horizontal {
		position: absolute;
		top: 50%;
		left: 0;
	}
	.active_vertical {
		transform: rotate(180deg);
	}
	.active_horizontal {
		transform: rotate(180deg);
		opacity: 0;
	}
}
